.navbar {
  height: 5rem;
  background-color: aliceblue;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: #2222 important;
}
/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222;
}
.f-info-links {
  width: 100%;
}
.f-info-socials {
  width: 100%;
  font-size: 1.2rem;
}
.f-info-socials i {
  margin-left: 0.75rem;
}

.f-info-links a:hover {
  text-decoration: underline;
}
.f-info {
  text-align: center;
  height: 8rem;
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}
/* card */
.card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400;
}
.card-img-overlay{
    opacity: 0;
}
.card:hover .card-img-overlay{
    opacity: 0.2;
    background-color: white;
}

#map{
  height: 400px;
  width: 80vh;
}